<!DOCTYPE html>

<html lang="en">

    <head>
        {% load static %}
        <!-- Main stylesheet -->
        <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        {% block link %} {% endblock link %}
        <!-- Bootstrap | style / script & Popper & JQuery -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        
        
        <link rel="icon" href="{% static 'accounts/images/favicon.png'%}">

        <title>{% block title %}{% endblock title %} | Finlog</title>

        {% block style %}{% endblock style %}

    </head>

    <body>
        <!-- Navigation -->
        <nav>
            <ul class="">
                <li><a class="a-empty" href="/">• Index </a></li>
                <li><a class="a-empty" href="/register">• Register </a></li>
                <li><a class="a-empty" href="/login">• Login </a></li>
                <li><a class="a-empty" href="/logout">• Logout </a></li>
            </ul>
            
            <!-- Fix required -->
            <ul class="">
                <li><a class="a-empty" style="color:red;" href="/settings">• Settings </a></li>
                <li><a class="a-empty" href="https://github.com/RomanchenkoAS">• Github </a></li>
                <li><a class="a-empty" style="color:red;" href="/calendar">• Calendar </a></li>
                <!-- IMPLEMENT THIS WITH BOOTSTRAP MODALS-->
                <li><a class="a-empty" style="color:red;" href="" data-bs-toggle="modal" data-bs-target="#exampleModal">• Categories </a></li>
            </ul>
        </nav>

    <!-- MODALS-->
    
    <!-- Modal for categories-->
        <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Category editor</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    Customize categories from here :3
                    </div>
                    {% comment %} <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
        
        {% if messages_list %}
            {% for message in messages_list %}
                <header>
                    <div class="alert alert-primary text-center message {{message.tags}}" role="alert">
                        {{message}}
                    <button type="button" class="btn close" data-dismiss="alert">
                        <span>&times;</span>
                    </button>
                    </div>
                </header>
            {% endfor %}
        {% endif %}

        {% block body %}{% endblock body %}

    </body>

    {% block script %} {% endblock script %}

    <script>
        /* Message close button */
        $(document).ready(function() {
            $(".close").click(function() {
              $(this).parent().hide();
            });
          });               
    </script>

</html>
