
body {
    height: 100%;
    zoom: 125%;
    /* To be deleted */
}

main {
    height: 85%;
    /* height: 100%; */
}

.left-list {
    margin-right: auto;
}

.right-list {
    margin-left: auto;
}

/* Items of nav all to one line */
nav li {
    display: flex;
    align-items: center;
}

.nav-item {
    cursor: pointer;
}

.right {
    margin-left: auto;
    margin-right: 0;
}

.logo {
    width:75px;
    vertical-align: middle;
}

/* Simple icon-buttons */
.icon_button {
    height: 16px;
    width: 16px;
    margin-bottom: 5px;
    cursor: pointer;
}

/* Icons-buttons in navigation */
.icon_button_nav {
    height: 20px;
    width: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
}


.title {
    font-weight: bold;
    margin-bottom: 0px;
    /* margin-top: 10px; */
}

/* Div for budget */
.budget_container {
    display:none; 
    flex-direction: column; 
    text-align: center; 
    font-size: small;
}

/* Labels for fields at login/registration pages */
.form-container label {
    width: 10rem;
    color: inherit;
    text-align: right;
    margin-right: 1rem;
}

.progress {
    width: 10rem;
}

/* Errors during registration */
.errorlist {
    color: red;
    text-align: center;
    list-style: none;
    margin-bottom: 0;
}

/* For <a> tag without decoration */
.a-empty {
    color: black;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
.a-empty-blue {
    color: blue;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.a-none {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
    cursor: pointer;
}


.auth-form,
.register-form {
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* Forms submit button */
.submit {
    width: 100px;
    text-decoration: underline;
}


/* Message tags */

.success {
    color:green;
}

.warning {
    color:orange;
}

.info {
    color:blue;
}

.debug {
    color:black;
}

.error {
    color:red;
}

.alert {
    position: relative;
  }

  /* Dismiss button */
.close {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
