table {
    margin: 0 auto;
    width: 100%;
}

table th,
table td {
    text-align: center;

}

table tr {
    border-color: #fff;
    border-width: 2px;
    border-radius: 1rem;
}

/* Shadows form-select from BS with few adjustments */
.form-selector {
    border: 1px solid black;
    display: inline-block;
    padding: 0.255rem 2.25rem 0.275rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

.form-item {
    padding: 0.125rem 3rem 0.125rem 0.75rem;
    /* padding: 0.255rem 2.25rem 0.275rem 0.75rem; */
    border: 1px solid black;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-inline .form-select {
    display: inline-block;
    width: 30%;
    color: red;
}


#input-value {
    width: 7rem;
}

#input-comment {
    width: 12rem;
}

/* Delete entry button */
.delete:focus {
    outline: none;
    box-shadow: none !important;
}

/* + button to add an entry */
#add-entry {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

#logTableContainer {
    height: 420px;
    overflow-y: scroll;
    visibility: hidden;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 1rem;
}

/* Hide scrollbar */
#logTableContainer::-webkit-scrollbar {
    display: none;
}

.center {
    margin: 0 auto;
    width: 50%;
}

/* For a smaller screen YEEEAH ADAPTIVE */
@media (max-width: 800px) {
    .center {
        width: 100%;
    }
}

/* CATEGORIES */

/* 
Housing: rent/mortgage payments, property taxes, home insurance, utilities, maintenance costs
Transportation: car payments, gas, insurance, maintenance costs, public transportation
Food: groceries, dining out, snacks, beverages
Entertainment: movies, concerts, hobbies, vacations, subscriptions, books
Personal Care: haircuts, salon services, grooming products, health and wellness expenses
Utilities: cell phone bills, internet, cable or satellite TV, electricity, water
Clothing: apparel, shoes, accessories, dry cleaning, laundry
Education: tuition, textbooks, school supplies
Medical: doctor visits, prescriptions, dental care, vision care
Savings: emergency fund, retirement savings, investment accounts
 */

.other {
    background-color: lightgrey;
}

.housing {
    background-color: lightblue;
}

.transportation {
    background-color: rgb(255 128 128);
}

.food {
    background-color: lightgreen;
}

.entertainment {
    background-color: rgb(206 123 206);
}

.personal-care {
    background-color: lightblue;
}

.utilities {
    background-color: yellow;
}

.clothing {
    background-color: orange;
}

.education {
    background-color: pink;
}

.medical {
    background-color: lightseagreen;
}

.savings {
    background-color: gray;
}