table {
    margin: 0 auto;
    width: 100%;
}

table tr {
    border-color: #fff;
    border-width: 2px;
    border-radius: 20px;
    padding: 5px;
    /* Vertical */
    align-items: center;
    overflow: hidden;
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr 2fr 0.3fr;
    text-align: center;
  }
  

/* Shadows form-select from BS with few adjustments */
.form-selector {
    border: 1px solid black;
    display: inline-block;
    padding: 0.245rem 0.25rem 0.275rem 0.74rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border-radius: 20px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 30%;
}


/* Input fields for numbers / text */
.form-item {
    padding: 0.125rem 0.75rem 0.125rem 0.75rem;
    border: 1px solid black;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border-radius: 20px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 30%;
}

/* Remove stupid arrows at all number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* "Delete entry" button */
.delete:focus {
    outline: none;
    box-shadow: none !important;
}

/* Div inside which a table resides */
#logTableContainer {
    height: 28rem;
    overflow-y: scroll;
    visibility: hidden;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 0.5rem;
}

/* Hide scrollbar for this div*/
#logTableContainer::-webkit-scrollbar {
    display: none;
}

/* Centering the divs */
.center {
    margin-right: auto;
    margin-left: auto;
    width: 40vw;
}

/* Form to add an entry */
.add-entry-form {
    width: 100%;
    display: flex!important;
    flex-direction: row;
    flex-wrap: nowrap;
    vertical-align: middle;
    text-align: center;
}

/* Input field with currency icon in it */
.KZT {
    background:url('../icons/currency/KZT.svg') no-repeat right center; 
}
.USD {
    background:url('../icons/currency/USD.svg') no-repeat right center; 
}
.RUB {
    background:url('../icons/currency/RUB.svg') no-repeat right center; 
}
.EUR {
    background:url('../icons/currency/EUR.svg') no-repeat right center; 
}
.currency-input {
    background-size: 15px 15px; 
    background-position: right 0.65rem center; 
    padding-right:2rem;
}


/* For a smaller screen YEEEAH ADAPTIVE */
@media (max-width: 1300px){
    .center {
        width: 75%;
    }
    .form-item .form-selector{
        width: 15%;
    }
}

@media (max-width: 850px) {
    .center {
        width: 95%;
    }
    .form-item .form-selector{
        width: 15%;
    }
}

@media (max-width: 550px) {
    #logTableContainer {
        padding: 0px;
        height: 55vh;
        font-size: small;
    }
    .modal-content {
        padding: 0px;
        font-size: small;
    }

    .center {
        width: auto;
    }
    .navbar-brand img {
        width: 60px;
        height: 30px;
    }
    .navbar-brand {
        margin-right: 0;
    }

    .navbar-nav {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .budget_container {
        margin-left: 1rem;
    }

    .header {
        font-size: 1rem;
        margin: 0;
    }

    .navbar-toggler-icon {
        width: 1em;
        height: 1em;
    }

    .title {
        font-size: 1.5rem;
    }

    /* Currency icon */
    td img, .icon_button {
        width: 12px!important;
        height: 12px!important;
    }

    .settings_container span {
        display: flex;
    }

    .settings_container input {
        text-align: center;
        font-size: small;
        width: 40%;
    }

    .icon_button_nav {
        margin-left: 0;
        margin-right: 0;
    }
    .form-item, .form-selector {
        font-size: small;
    } 
}

