{% extends "accounts/layout.html" %}

{% block title %}Log{% endblock title %}

{% block link %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'log/log_display.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'log/modals.css' %}">
    
{% endblock link %}

{% block style %}<style></style>{% endblock style %}

{% block body %}
<header>
    <hr> 
    <h1 class="header center">MainPage || Log of: {{user}}</h1>
    <hr>
    <h2 class="header center">Latest events: </h2>

    <!-- Modal for categories-->
    <div class="modal" id="categoriesModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Category editor</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p> Customize categories and <a class="a-empty-blue" onclick="expand_custom()">add new</a> from here: </p>
                    <button class="collapsible small-margin">Default ▼ </button>
                    <div class="content">
                        {% load filters %}
                        {% if categories %}
                        {% for category in categories %}
                        <span>
                            <p id="{{category.name}}-item" style="background-color:{{category.color}}" class="category small-margin">{{category.title}} 
                                <!-- Edit -->
                                <a id="{{category.name}}-edit-button" class="a-none" onclick='expand("{{category.name}}")' >
                                    <img class="icon_button" src="{% static 'log/icons/edit.png'%}">
                                </a>

                                <span class="edit_palette" id="{{category.name}}-edit">
                                    <!-- Colorpicker -->
                                    <input class="color_picker" type="color" id="{{category.name}}-colorpicker">
                                    <!-- Tick -->
                                    <a onclick='edit("{{category.name}}")' class="a-none">
                                        <img class="icon_button" src="{% static 'log/icons/tick.svg'%}">
                                    </a>
                                    <!-- Cross -->
                                    <a onclick='hide("{{category.name}}")' class="a-none">
                                        <img class="icon_button" src="{% static 'log/icons/cross.svg'%}">
                                    </a>
                                    <!-- Reset -->
                                    <a onclick='' class="a-none">
                                        <img class="icon_button" src="{% static 'log/icons/reset.svg'%}">
                                    </a>
                                </span>
                                <!-- Info -->
                                <a onclick='' class="a-none">
                                    <img class="icon_button" src="{% static 'log/icons/info.svg'%}">
                                </a>
                            </p>
                        </span>
                        {% endfor %}
                        {% endif%}
                    </div>
                    <button class="collapsible small-margin" id="collapsible_custom">Custom ▼ </button>

                    {% comment %} Needs some work so to say ;) {% endcomment %}
                    <div class="content">
                        {% if custom_categories %}
                        {% for category in custom_categories %}
                        <span>
                            <p class="{{category.name}} small-margin ">{{category.title}} 
                            <a href="">
                                <img class="edit_button" src="{% static 'log/edit.png'%}">
                            </a>
                            <input style="display:none" class="color_picker" type="color" id="{{category.name}}-colorpicker" value="#0000ff">
                            </p>
                        </span>
                        {% endfor %}
                        {% endif%}
                        <!-- Create new category -->
                        <span >
                            <p class="small-margin category">Create new category:
                            <!-- Edit -->
                            <a id="new-edit-button" onclick='expand("new")' class="a-none">
                                <img class="icon_button" src="{% static 'log/icons/edit.png'%}">
                            </a>

                            <span class="edit_palette" id="new-edit">
                                <!-- Colorpicker -->
                                <input class="color_picker" type="color" id="new-colorpicker" value="#ffffff">
                                <!-- Tick -->
                                <a onclick='edit("new")' class="a-none">
                                    <img class="icon_button" src="{% static 'log/icons/tick.svg'%}">
                                </a>
                                <!-- Cross -->
                                <a onclick='hide("new")' class="a-none">
                                    <img class="icon_button" src="{% static 'log/icons/cross.svg'%}">
                                </a>
                            </span>
                            </p>
                        </span>
                    </div>
                    
                </div>
                <!--
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
                </div>
                -->
            </div>
        </div>
    </div>

</header>

<main>
    <!-- Container for my log table || fills with load_content() function-->
    <div class="center" id="logTableContainer">
            <table id="logTable"><tbody></tbody></table>
    </div>
</main>

<footer>
    <!-- MAIN FEATURE HERE -->
    <div class="center">
        <form id="add-entry" style="display:inline-block;">
            <span>
                <!-- Value field -->
                <input required pattern="[0-9]+" name="value" id="input-value" placeholder="Value:" class="form-item">
                <!-- Category field -->
                <select name="category" id="input-category" class="form-selector">
                    {% for category in categories %}
                        {% if forloop.counter == 1 %}
                        <option selected value="{{ category.name }}">{{category.title}}</option>
                        {% else %}
                        <!-- Value should be .title for correct adding an entry -->
                        <option value="{{ category.title }}">{{category.title}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <!-- Comment field -->
                <input name="comment" id="input-comment" placeholder="Comment:" class="form-item">
                <!-- Add button -->
                <button class="btn" type="submit">+</button>
            </span>
        </form>
    </div>
</footer>
{% endblock body %}

{% block script %}
    <script src="{% static 'log/log_management.js' %}"></script>
    {% comment %} Scripts for modal windows management {% endcomment %}
    <script>
        
        

        // Interactive colorpickers
        var colorPickers = document.getElementsByClassName("color_picker");
        
        for (var i = 0; i < colorPickers.length; i++) {
            colorPickers[i].addEventListener('input', function() {
                // Take this color
                let colorCode = this.value;
                // Get corresponding category
                let category = this.id.substring(0, this.id.indexOf('-')).toLowerCase();
                // Get corresponding item and set it's color to the picked one
                let item = document.getElementById(`${category}-item`);
                item.style.backgroundColor = colorCode;
            });
        };
          

        // Script for collapsible headers 
        var coll = document.getElementsByClassName("collapsible");

		for (var i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
				var content = this.nextElementSibling;
				if (content.style.maxHeight){
                    content.style.maxHeight = null;
				} else {
                    content.style.maxHeight = content.scrollHeight + "px";
				};
                
                // Set color for colorpickers
                var colorPickers = content.querySelectorAll('.color_picker');
                
                colorPickers.forEach(element => {
                    let parent = element.parentNode.parentNode;
                    let color = getComputedStyle(parent).getPropertyValue('background-color');
                    element.value = rgbToHex(color);
                }); 
			});
		};
        
        // Show 'custom' collapsible header 
        var custom = document.getElementById("collapsible_custom");

        function expand_custom() {
            console.log('showing custom')
            custom.classList.toggle("active");
            var content = custom.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            };
        }
        

        // Transforms from rgb(x, y, z) into hexadecimal
        function rgbToHex(rgb) {
            var components = rgb.match(/\d+/g);
            var hex = '#';
            for (var i = 0; i < 3; i++) {
                var component = parseInt(components[i]).toString(16);
                hex += component.length == 1 ? '0' + component : component;
            };
            return hex;
        };
        
        // Show relevant edit palette on edit <a> click || hide edit button 
        function expand(input_category) {
            document.getElementById(input_category + "-edit").style.display = 'inline-block';
            document.getElementById(input_category + "-edit-button").style.visibility = 'hidden';
        };
        // Hide edit palette
        function hide(input_category) {
            document.getElementById(input_category + "-edit").style.display = 'none';
            document.getElementById(input_category + "-edit-button").style.visibility = 'visible';
        };
        
        function edit(input_category, action = 'edit') {
            let colorPicker = document.getElementById(input_category + "-colorpicker");
            console.log(`${action} -> ${input_category} | new color: ${colorPicker.value} | sending xhr request`);

            // Action options: edit | new | delete
            name = input_category;
            color = colorPicker.value;

            // send actual request at /edit/
            var xhr = new XMLHttpRequest();
            var url = "/edit/";
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");

            // In case we need response json 
            /*
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var json = JSON.parse(xhr.responseText);
                    console.log(json);
                }
            }; */

            // Simple ok response
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 204) {
                    console.log("Request successful");
                }
            };

            // Sending data
            var data = JSON.stringify({"name": name, "color": color, "action": action});
            xhr.send(data);
            
            // Hide edit palette
            hide(input_category);
        };
        
        // Dissmiss all the changes on closing the modal
        var categoriesModal = document.getElementById("categoriesModal");
        
        categoriesModal.addEventListener("hidden.bs.modal", function () {
            // Create this
        });
        
    </script>
    {% endblock script %}
