{% extends "accounts/layout.html" %}

{% block title %}Log{% endblock title %}

{% block link %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'log/log_display.css' %}">
{% endblock link %}

{% block style %}
<style>


</style> 
{% endblock style %}

{% block body %}
<header>
    <h1 class="header">MainPage || Log of: {{user}}</h1>
    <hr>
    <h2 class="header">Latest events: 
        
        <button type="button" class="btn" onclick="load_content()">load</button>
        <button type="button" class="btn" onclick="render_row()">render</button>
    </h2>

</header>

<main>
    <table>

        {% comment %} <div style="height: 300px; overflow-y: scroll; scroll-behavior: smooth; display:none" id="logTableContainer">
        </div> {% endcomment %}
        <table id="logTable">
            <tbody>


            </tbody>
    </table>
</main>

<footer>
    <!-- MAIN FEATURE HERE -->
    <form id="add-entry" style="display:inline-block;">
            <!-- Value field -->
            <input name="value" id="input-value" placeholder="Value:">
            <!-- Category field -->
            <select name="category" id="input-category" class="form-select">
                {% for category in categories %}
                    {% if forloop.counter == 1 %}
                    <option selected value="{{ category }}">{{category}}</option>
                    {% else %}
                    <option value="{{ category }}">{{category}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <!-- Comment field -->
            <input name="comment" id="input-comment" placeholder="Comment:">
            <!-- Add button -->
            <button class="btn" type="submit">+</button>
    </form>
</footer>
{% endblock body %}

{% block script %}
<script>

    var entries = [];

    // Load content from the /load_content/ url
    function load_content() {
        fetch(`/load_content/`)
        .then(response => {
            if (!response.ok) {
                throw new Error('Not ok response');
            }
            return response.json();
        })
        .then(data => {
            entries = data.entries;
        })
        .catch(error => {
            console.error('Issue with fetch operation: ', error);
        });
    }


    function recursive(arr) {
        item = arr.pop();
        if (typeof item === 'undefined') {
            console.log('That was the last one :3')
            return 0 
        } else {
            console.log(item);
            recursive(arr);
        }
    }


    // Recursive rendering 
    function render_row(arr) {
        // Pick out the last item 
        var lastItem = arr.pop();
        //console.log('Last item:')
        //console.log(lastItem)

        
        var table   = document.getElementById('logTable');
        var newrow  = table.insertRow();

        // Cells variables
        var cellValue       = newrow.insertCell(0);
        var cellCategory    = newrow.insertCell(1);
        var cellDate        = newrow.insertCell(2);
        var cellComment     = newrow.insertCell(3);
        var cellDelButton   = newrow.insertCell(4);

        // Populate the cells
        cellValue.innerHTML = lastItem.value;
        cellCategory.innerHTML = lastItem.category;
        cellDate.innerHTML = lastItem.date;
        cellComment.innerHTML = lastItem.comment;
        cellDelButton.innerHTML = '&times;';
        // Making it of the right class 
        newrow.classList.add(lastItem.category.toLowerCase());

        // Manual scroll down
        ScrollDown();
    }

    // Manually (first - showing and then) scrolling down the table
    function ScrollDown() {
        var tableContainer = document.getElementById("logTableContainer");
        tableContainer.style.display = "block";
        tableContainer.scrollTop = tableContainer.scrollHeight;
    };



    // Script to delete an entry with given entry.position
    function deleteEntry(pos) {
        console.log(`I am to delete an entry #${pos}`);

        fetch(`/remove/${pos}/`, {
            method : 'DELETE',
            headers : {
                'Content-Type' : 'application/JSON'
            },
            body: JSON.stringify({
                position: pos 
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Not ok response');
            }
            // Now actually remove from the page
            var row = document.getElementById(`${pos}`)
            
            row.style['display'] = 'none'
        })
        .catch(error => {
            console.error('Issue with fetch operation: ', error);
        });

        recount();
    };

    // Adding a new entry
    $('#add-entry').on("submit", function(event) {
        event.preventDefault();

        // Get form fields values into vars
        let value = document.querySelector('#input-value').value;
        let category = document.querySelector('#input-category').value;
        let comment = document.querySelector('#input-comment').value;

        // get the form data and send an AJAX request to the server
        $.ajax({
            url: 'add',
            type: 'POST',
            data: $(this).serialize(),
            success: function(data) {
                // update the list on the page with the new data
                var lastItem = data.entries[data.entries.length - 1];

                var table   = document.getElementById('logTable');
                var newrow  = table.insertRow();

                // Cells variables
                var cellValue       = newrow.insertCell(0);
                var cellCategory    = newrow.insertCell(1);
                var cellDate        = newrow.insertCell(2);
                var cellComment     = newrow.insertCell(3);
                var cellDelButton   = newrow.insertCell(4);

                // Populate the cells
                cellValue.innerHTML = lastItem.value;
                cellCategory.innerHTML = lastItem.category;
                cellDate.innerHTML = lastItem.date;
                cellComment.innerHTML = lastItem.comment;
                cellDelButton.innerHTML = '&times;';
                // Making it of the right class 
                newrow.classList.add(lastItem.category.toLowerCase());

                // Manual scroll down
                ScrollDown();
            },
            error: function() {
                alert('Error adding entry.');
            }
        });

        recount();
    });

    window.onload = function() {
        load_content();
        
    }


    
</script>
{% endblock script %}



            
            {% comment %} {% for entry in entries %}
            <tr class="{{entry.category|lower}}" id="{{entry.position}}">
                <td>{{entry.value}}{{entry.currency}}</td>
                <td>{{entry.category}}</td>
                <td>{{entry.datetime}}</td>

                <!-- Show comment if there is one / ellipsis otherwise -->
                {% if 'comment' in entry %}
                <td>{{entry.comment}}</td>
                {% else %}
                <td>...</td>
                {% endif %}

                <td>
                    <button type="button" class="btn delete" id="{{entry.position}}-remove" onclick="deleteEntry({{entry.position}})">
                        <span>
                            &times;
                        </span>
                    </button>
                </td>

            </tr>
            {% endfor %} {% endcomment %}

{% comment %} <button type="button" class="btn" onclick="recount()">recount</button> {% endcomment %}

    {% comment %} // Reassign IDs to the buttons and rows on delete/adding an entry
    function recount() {
        // Yeah this is really dumb, gonna make it right while i can
        var rows = document.querySelectorAll('tr');
        console.dir(rows);

        rows.forEach((element, index) =>{
            console.log(`Element #${index}`);
            console.dir(element);

            // Reset the id of the row
            element.id = index;

            var button = document.getElementById(`${index}-remove`);
            console.log(`Corresponding button with id ${button.id}: `)
            console.dir(button)

            button.id = index;
            console.log(`ID updated ${button.id}:`)
            console.dir(button)
        });
    }; {% endcomment %}