{% extends "accounts/layout.html" %}

{% block title %}Log{% endblock title %}

{% block link %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'log/log_display.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'log/modals.css' %}">
    
{% endblock link %}

{% block style %}<style></style>{% endblock style %}



    {% block header %}
    <!-- Modal for categories-->
    <div class="modal" id="categoriesModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">
                        <img class="icon_button_nav" src="{% static 'log/icons/palette.svg'%}">
                        Category editor
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p> Customize categories and <a class="a-empty-blue" onclick="expand_custom()">add new</a> from here: </p>
                    <button class="collapsible small-margin">Default ▼ </button>
                    <div class="content" id="default_categories_container">
                        {% load filters %}
                        {% if categories %}
                        {% for category in categories %}
                        <span style="text-align: right;">
                            <p id="{{category.name}}-item" data-color="{{category.color}}" style="background-color:{{category.color}}" class="category small-margin">
                                <t title="" aria-label="{{category.info}}">{{category.name}}</t> 
                                <!-- Edit -->
                                <a id="{{category.name}}-edit-button" class="a-none" onclick="expand('{{category.name}}')" title="" aria-label="Edit" >
                                    <img class="icon_button" src="{% static 'log/icons/edit.png'%}">
                                </a>

                                <span class="edit_palette" id="{{category.name}}-edit">
                                    <!-- Colorpicker -->
                                    <input class="color_picker" type="color" id="{{category.name}}-colorpicker">
                                    <!-- Tick -->
                                    <a onclick="edit('{{category.name}}')" class="a-none" title="" aria-label="Confirm">
                                        <img class="icon_button" src="{% static 'log/icons/tick.svg'%}">
                                    </a>
                                    <!-- Cross -->
                                    <a onclick='hide("{{category.name}}")' class="a-none" title="" aria-label="Cancel">
                                        <img class="icon_button" src="{% static 'log/icons/cross.svg'%}">
                                    </a>
                                    <!-- Reset -->
                                    <a onclick="edit('{{category.name}}', 'reset')" class="a-none"  title="" aria-label="Reset">
                                        <img class="icon_button" src="{% static 'log/icons/delete.svg'%}">
                                    </a>
                                </span>
                            </p>
                        </span>
                        {% endfor %}
                        {% endif%}
                    </div>
                    <button class="collapsible small-margin" id="collapsible_custom">Custom ▼ </button>

                    <!-- Custom block -->
                    <div class="content" id="custom_categories_container">
                        {% if user_categories %}
                        {% for category in user_categories %}
                        <!-- Existing user categories -->
                        <span>
                            <p id="{{category.name}}-item" data-color="{{category.color}}" style="background-color:{{category.color}}" class="category small-margin">{{category.name}} 
                                <!-- Edit -->
                                <a id="{{category.name}}-edit-button" class="a-none" onclick="expand('{{category.name}}')" title="" aria-label="Edit" >
                                    <img class="icon_button" src="{% static 'log/icons/edit.png'%}">
                                </a>
                                <span class="edit_palette" id="{{category.name}}-edit">
                                    <!-- Input name field -->
                                    <input class="change_name" type="text" id="{{category.name}}-newname" value="{{category.name}}"> 
                                    <!-- Colorpicker -->
                                    <input class="color_picker" type="color" id="{{category.name}}-colorpicker">
                                    <!-- Tick -->
                                    <a onclick="edit('{{category.name}}')" class="a-none" title="" aria-label="Confirm">
                                        <img class="icon_button" src="{% static 'log/icons/tick.svg'%}">
                                    </a>
                                    <!-- Cross -->
                                    <a onclick='hide("{{category.name}}")' class="a-none" title="" aria-label="Cancel">
                                        <img class="icon_button" src="{% static 'log/icons/cross.svg'%}">
                                    </a>
                                    <!-- Delete -->
                                    <a onclick='edit("{{category.name}}", "delete")' class="a-none" title="" aria-label="Delete">
                                        <img class="icon_button" src="{% static 'log/icons/delete.svg'%}">
                                    </a>
                                </span>
                            </p>
                        </span>
                        {% endfor %}
                        {% endif %}
                        <!-- Create new category -->
                        <span >
                            <p id="add-item" style="background-color:#d3d3d3" class="category small-margin">Create new category
                                <!-- Edit -->
                                <a id="add-edit-button" onclick='expand("add")' class="a-none">
                                    <img class="icon_button" src="{% static 'log/icons/plus.svg'%}">
                                </a>

                                <span class="edit_palette" id="add-edit">
                                    <!-- Input name field -->
                                    <input class="change_name" type="text" id="add-newname"> 
                                    <!-- Colorpicker -->
                                    <input class="color_picker" type="color" id="add-colorpicker" value="#d3d3d3">
                                    <!-- Tick -->
                                    <!-- Edit syntax is edit(categoryName, action)-->
                                    <a onclick='edit("add", "add")' class="a-none">
                                        <img class="icon_button" src="{% static 'log/icons/tick.svg'%}">
                                    </a>
                                    <!-- Cross -->
                                    <a onclick='hide("add")' class="a-none">
                                        <img class="icon_button" src="{% static 'log/icons/cross.svg'%}">
                                    </a>
                                </span>
                            </p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal for settings -->
    <div class="modal" id="settingsModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Header -->
                <div class="modal-header">
                    <h1 class="modal-title fs-5">
                        <img class="icon_button_nav" src="{% static 'log/icons/gear.svg'%}">
                        Settings
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- Content -->
                <div class="modal-body">

                    <!-- Testing purposes-->
                    <div class='settings_container'>
                        <t> Budget : {{request.user.budget}} || currency : {{request.user.currency}} </t>
                    </div>
                    <hr>
                    
                    
                    <!-- Budget-->
                    <div class='settings_container'>
                        <t>Set monthly budget:</t>
                        <input id="budget_input" type="number" inputmode="numeric" pattern="[0-9]*" class="form-item right currency-input KZT" placeholder="">
                        <a onclick='set("budget")' class="a-none">
                            <img style="margin-left: 10px;" class="icon_button" src="{% static 'log/icons/tick.svg'%}">
                        </a>
                    </div>
                    <hr>
                    <div class='settings_container' >
                        <t style=''>Choose currency:</t>
                        <!-- Display current chosen currency as an icon -->
                        <select name="currency" id="select_currency" class="form-selector right">
                            <option selected value='KZT'>KZT </option>
                            <option value='RUB'>RUB</option>
                            <option value='USD'>USD</option>
                            <option value='EUR'>EUR</option>
                        </select>
                        <a onclick='set("currency")' class="a-none">
                            <img style="margin-left: 10px;" class="icon_button" src="{% static 'log/icons/tick.svg'%}">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock header %}

{% block body%}
<main>
    <div class="all_content center">
    <h2 class="title">Latest events: </h2>
    <!-- Container for the log table || fills with load_content() function-->
    <div class="" id="logTableContainer">
            <table id="logTable"><tbody></tbody></table>
    </div>

        <!-- MAIN FEATURE HERE -->
        <div class=" add-entry-form">
            <form id="add-entry">
                <span>
                    <!-- Value field -->
                    <input required pattern="[0-9]+" name="value" id="input-value" placeholder="Value:" class="form-item currency-input KZT">
                    <!-- Category field -->
                    <select name="category" id="input-category" class="form-selector">
                        {% for category in categories %}
                        {% if forloop.counter == 1 %}
                            <option selected value="{{ category.name }}">{{category.name}}</option>
                            {% else %}
                            <option value="{{ category.name }}">{{category.name}}</option>
                            {% endif %}
                        {% endfor %}
                        <!-- User categories -->
                        {% for category in user_categories %}
                            <option value="{{ category.name }}">{{category.name}}</option>
                        {% endfor %}
                    </select>
                    <!-- Comment field -->
                    <input name="comment" id="input-comment" placeholder="Comment:" class="form-item">
                    <!-- Add button -->
                    <button class="btn" type="submit">
                        <img class="icon_button" src="{% static 'log/icons/plus.svg'%}">
                    </button>
                </span>
            </form>
        </div>
    </div>
</main>

{% endblock body %}

{% block script %}
    {% comment %} Scripts for showing log table / adding & deleting entries {% endcomment %}
    <script src="{% static 'log/log_management.js' %}"></script>
    {% comment %} Scripts for modal windows management {% endcomment %}
    <script src="{% static 'log/modal_category.js' %}"></script>
    {% comment %} Scripts for settings window {% endcomment %}

    <script>

        function set(setting) {
            let currency = document.getElementById()

            let currency = document.getElementById('select_currency').value;
            console.log(currency);

            let budget = document.getElementById('budget_input').value;
            console.log(budget);
            console.log(`sending xhr request`);
        
            // send actual request at /edit/
            var xhr = new XMLHttpRequest();
            var url = "/edit/";
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
        
            // Simple ok response
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 204) {
                    console.log("Request successful");

                };
            };

            // Sending data
            var data = JSON.stringify({"setting": setting; "value" : value;});
            xhr.send(data);
            

        
        };
    </script>

    {% endblock script %}
